.shape {
    left: 50px;
    position: absolute;
    bottom: 35;
    width: 50px;
    height: 50px;
    background: #9b59b6;
    animation: move 20s infinite;
    transform: rotate(25deg);
}

.shape-2 {
    right: 50px;
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 50px;
    background: #9b59b6;
    animation: move 23s infinite;
    transform: rotate(25deg);
}

.shape-3 {
    right: 50%;
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: #9b59b6;
    animation: move 28s infinite;
    transform: rotate(25deg);
}

.shape-4 {
    right: 30%;
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 30px;
    background: #9b59b6;
    animation: move 50s infinite;
    transform: rotate(25deg);
}


@keyframes move {
    from {
        bottom: 0;
        transform: rotate(25deg);
    }

    to {
        bottom: 105vh;
        transform: rotate(500deg);
    }
}


.nota {
    left: -70px;
    position: absolute;
    width: 50px;
    animation: nota 35s infinite;
}

.rot:hover {
    transform: rotate(50000deg);
    transition: 5000s;
}

.nota2 {
    right: 0px;
    position: absolute;
    width: 50px;
    animation: nota2 30s infinite;
}

@keyframes nota2 {
    0% {
        top: 55%;
    }

    25% {
        top: 60%;
        opacity: 0.8;
    }

    50% {
        top: 70%;
        opacity: 0.5;
    }

    75% {
        top: 75%;
        opacity: 0.3;
    }

    100% {
        top: 80%;
        opacity: 0;
        right: 90vw;
        transform: rotate(500deg);
    }
}

@keyframes nota {
    0% {
        top: 35%
    }

    25% {
        top: 40%;
        opacity: 0.8;
    }

    50% {
        top: 45%;
        opacity: 0.5;
    }

    75% {
        top: 50%;
        opacity: 0.3;
    }

    100% {
        top: 55%;
        opacity: 0;
        left: 90vw;
        transform: rotate(500deg);
    }
}