@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

.purple-dark {
    background: #8e44ad;
}

.purple-clear {
    background: #9b59b6;
}

.top {
    width: 100%;
    height: 100vh;
    font-size: 1.2rem;
    background-image: url(/img/musical1.jpg);
    background-size: cover;
}

.top-bg {
    display: flex;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #8e44ad;
    opacity: 0.9;
    align-items: center;
    justify-content: center !important;
}

.content-top {
    z-index: 10;
    color: #FFF;
}

.dropdown-menu a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.dropdown-menu a:hover {
    background: #ecf0f1;
    color: #8e44ad !important;
}

.login {
    margin-left: 50px;
}

.login .btn {
    color: #FFF !important;
    border: 1px solid #FFF;
}

.login .btn:hover {
    background: #9b59b6;
}

@media (max-width: 990px) {

    .top {
        background-image: url(/img/musical1.jpg);
        background-size: cover;
        background-position: center;
    }

    .content-top {
        padding: 50px;
    }

    .login {
        margin-top: 10px;
        margin-left: 0px;
    }


}